@purple: rebeccapurple;

body, section.hero.is-large {
  background-color: ghostwhite;
}

.column {
  &:hover {
    cursor: hand;
  }
}

p {
  font-size: large;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.main-title {
  font-size: 3em;
}

.title, .subtitle {
  color: @purple;
  text-align: center;
}

.player-name {
  padding: 0.25em;
  color: @purple;
  font-size: 3em;
  text-align: center;
}

.is-warning {
  color: @purple !important;
  border-bottom: 0.25em solid deepskyblue;
}

.purple {
  color: white !important;
  background: @purple !important;
}

@media screen and (min-width: 769px) {
  .hero.is-large .hero-body {
    padding: 1em;
  }
}
