body {
}

section {
  padding: 40px 20px;
}

p {
  font-size: large;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.title {
  color: rebeccapurple;
  font-size: 6em;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}