body {
  background-color: #f8f8ff;
}
section {
  padding: 40px 20px;
}
.column:hover {
  cursor: hand;
}
p {
  font-size: large;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.title {
  padding: 0.25em;
  color: rebeccapurple;
  font-size: 6em;
  text-align: center;
}
.is-warning {
  color: rebeccapurple !important;
  border-bottom: 0.25em solid deepskyblue;
}
.purple {
  color: white !important;
  background: rebeccapurple !important;
}
